user: "on-username"
password: "on-password"
endpoint: "http://on-addr:2633/RPC2"

kubernetes_config_path: "./config/kubernetes-config.yml"
kubernetes_ca_certificate_path: "./kubernetesCert/ca.crt"
kubernetes_endpoint: https://kubernetes-addr:6443

free_ram_threshold: 100
free_CPU_threshold: 9.5